.eq-line {
    flex: 1 0 auto;
}

.card {
    flex-direction: column;
}

.card-content{
    flex-direction: column;
    justify-content: space-between;
}

.card-footer-item{
    flex-wrap: wrap;
}

.button{
    flex-wrap: wrap;
}

.bundle-complete {
    text-decoration: line-through;
}
